.vscode
.VSCodeCounter/
.idea
cmake-build-debug/
tags


bin
build
catboost_info
*.rpt
*.idx
*.cap
*.fanout
*.spec
*.trans
*.skew
*.dot
*.gds
*.def
*.log
*.pwr

rpt*/
target/
*-stamp/
tmp/
# scripts
*.patch
CMakePresets.json
.venv/
__pycache__
mcp_iEDA.egg-info/

# Prevent accidental re-addition of removed submodules
src/third_party/mt-kahypar/
