# [submodule "src/third_party/mt-kahypar"]
# 	url  = https://gitee.com/i-eda/mt-kahypar
# 	path = src/third_party/mt-kahypar

[submodule "src/third_party/LSAssigner4iEDA"]
	path = src/third_party/LSAssigner4iEDA
	url = https://gitee.com/li-jinyuan/LSAssigner4iEDA
	branch = main


